# Compiled files
*.pyc
*.swp
*.zip

# Distribution files
build
dist
venv
*.egg*

# IDE
.vscode
*.code-workspace
.idea
*.iml
.cache

# production
build

# misc
.DS_Store

# input files
*.json

# output files
output
plots
*.csv
*.png